name: .NET Build and Test Workflow

on:
  push:
    branches:
      - feature**

permissions:
  pull-requests: write 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}  # Checkout para a branch atual

    - name: Set up .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '7.0.x'  # Use a versão mais recente do .NET 7.0 disponível

    - name: Install dependencies
      run: dotnet restore  src/app/ControlePedido/ControlePedido.sln

    - name: Build the project
      run: dotnet build --no-restore --configuration Release  src/app/ControlePedido/ControlePedido.sln

    - name: Run tests
      run: dotnet test --no-build --configuration Release --verbosity normal  src/app/ControlePedido/ControlePedido.sln
    
    - name: pull-request
      if: startsWith(github.ref, 'refs/heads/feature/')
      uses: repo-sync/pull-request@v2
      with:
          destination_branch: "develop"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_label: "feature, pr automatizada"
          pr_title: "PR criada automaticamente"